.header {
    display: flex;
    font-size: 2rem;
    height: 10rem;
    & .logo {
        width: 10rem;
    }
    & img {
        height: 100%;
    }
}

.nav {
    display: flex;
    align-items: center;
    & div {
        padding: 2rem;
        border-radius: 5rem;
        border: 1px solid #fff;
    }
    & div:hover {
        border: 1px solid #ccc;
    }
     & .active {
        background: #ccc;
    }
}

